<div
  class="nav-overlay"
  [class.is-visible]="isMenuOpen()"
  (click)="closeMenu()"
></div>

<header
  class="site-header"
  [style.box-shadow]="
    isScrolled() ? '0 4px 18px rgba(46, 33, 27, 0.08)' : 'none'
  "
>
  <div class="header-inner">
    <a routerLink="/" class="logo"> ne_veriy_<span>tebe</span> </a>

    <app-change-theme></app-change-theme>
    <nav class="main-nav" [class.is-open]="isMenuOpen()" id="mainNav">
      <ul>
        @for (item of navList(); track $index) {
          <li>
            <a routerLink="/" [fragment]="item.name" (click)="closeMenu()">{{
              item.label
            }}</a>
          </li>
        }

        <li>
          <a
            routerLink="/courses-collection"
            class="nav-cta"
            (click)="closeMenu()"
          >
            Мої курси
          </a>
        </li>
      </ul>
    </nav>

    <button
      class="burger"
      type="button"
      [attr.aria-label]="isMenuOpen() ? 'Закрити меню' : 'Відкрити меню'"
      [attr.aria-expanded]="isMenuOpen()"
      aria-controls="mainNav"
      (click)="toggleMenu()"
    >
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>
